*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #cecece;
    padding: 30px 0;
}

.create-post{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 2px 2px #0000002a;
    background: #fff;
}

.create-post__img{
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.create-post__img > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.create-post__ipts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;
}

.create-post__ipts > input{
    width: 100%;
    height: 30px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
}

.create-post__ipts > button{
    padding: 10px;
    cursor: pointer;
    background: #006aff;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s;
}

.create-post__ipts > button:hover{
    background: #006affcc;
}


/* posts styles */

.posts-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.post{
    width: 100%;
    box-shadow: 0 2px 2px #0000002a;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post__user-info{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding: 10px 10px 5px;
}

.post__user-info > img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.post__content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post__desc{
    width: 100%;
    padding: 5px 10px 10px;
    text-align: start;
    word-break: break-word;
    transition: all .3s;
    cursor: pointer;
}

.post__desc:hover{
    background: #cecece39;
}
/*  */
.show-all{
    display: flex;
}

.elipsis{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
/*  */

.post__img{
    width: 100%;
    height: auto;
}

.post__img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__btns{
    width: 100%;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.post__btns > button{
    height: 35px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border: none;
    font-size: 16px;
    border-radius: 3px;
}

.normal{
    background: #80808042;
    color: #000;
}

.normal:hover{
    background: #80808064;
}

.active{
    background: #c2e0ff;
    color: #0055ff;
}

.active:hover{
    background: #add6ff;
}